@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --DarkBlueEmail: hsl(217, 28%, 15%);
  --DarkBlueBody: hsl(218, 28%, 13%);
  --DarkBluefooter: hsl(216, 53%, 9%);
  --DarkBlueTestimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --LightRed: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --font-size: 14px;
  --twitter-color: #74b9ff;
  --Pink: #e84393;
  --Black: #000000; }

:root {
  --DarkBlueEmail: hsl(217, 28%, 15%);
  --DarkBlueBody: hsl(218, 28%, 13%);
  --DarkBluefooter: hsl(216, 53%, 9%);
  --DarkBlueTestimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --LightRed: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --font-size: 14px;
  --twitter-color: #74b9ff;
  --Pink: #e84393;
  --Black: #000000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  background-color: var(--DarkBlueBody);
  color: var(--White);
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: var(--White); }

li {
  list-style: none; }

.btn {
  width: 255px;
  height: 50px;
  padding: 20px;
  margin: 10px auto;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blue);
  border: none;
  outline: none;
  cursor: pointer; }
  .btn a {
    font-size: 'Raleway';
    font-weight: 700;
    font-size: 14px; }

.btn:hover {
  cursor: pointer;
  background-color: var(--Cyan); }

p {
  font-size: var(--font-size); }

.header {
  width: 100%;
  height: 830px;
  background-color: var(--DarkBlueTestimonials); }
  .header .navbar {
    width: 100%;
    height: 90px;
    position: relative;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .navbar .navbar__logo {
      margin-left: 40px;
      cursor: pointer; }
    .header .navbar .navbar__links {
      margin-right: 40px; }
      .header .navbar .navbar__links a {
        margin-left: 30px; }
      .header .navbar .navbar__links a:hover {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-decoration: underline; }
    .header .navbar .navbar__hamburger {
      cursor: pointer;
      display: none; }
      .header .navbar .navbar__hamburger i {
        font-size: 40px; }
  .header .hero {
    width: 100%;
    height: 580px;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .header .hero .hero__img {
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .hero .hero__img img {
        display: inline-block;
        width: 80%;
        margin: 0 auto; }
    .header .hero .hero__texts {
      width: 600px;
      text-align: center; }
      .header .hero .hero__texts .hero__title {
        font-size: 30px;
        margin: 10px;
        line-height: 40px; }
      .header .hero .hero__texts .hero__text-description {
        font-size: 15px;
        margin: 10px;
        line-height: 25px; }

@media (max-width: 475px) {
  .header {
    width: 100%;
    height: 650px; }
    .header .navbar .navbar__links {
      width: 80%;
      height: 75vh;
      position: absolute;
      top: 12vh;
      right: 8vh;
      left: 1vh;
      background-color: var(--Cyan);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      border-radius: 3px;
      box-shadow: -1px 1px 5px 0px #1c1c1c;
      transform: translateX(-400px);
      transition: transform .50s; }
      .header .navbar .navbar__links a {
        margin: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: var(--White); }
    .header .navbar .navbar__logo img {
      width: 150px; }
    .header .navbar .navbar__hamburger {
      display: block; }
    .header .navbar .navbar__links.active {
      transform: scale(1);
      transition: transform .50s; }
    .header .hero {
      width: 100%;
      max-width: 650px;
      margin: 10px auto; }
      .header .hero .hero__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header .hero .hero__img img {
          display: inline-block;
          width: 85%;
          margin: 0 auto; }
      .header .hero .hero__texts {
        width: 100%; }
        .header .hero .hero__texts .hero__title {
          font-size: 20px;
          line-height: 25px; }
        .header .hero .hero__texts .hero__text-description {
          font-size: 13px;
          line-height: 20px; }
        .header .hero .hero__texts .btn {
          width: 185px;
          height: 45px; } }
.main {
  width: 100%;
  background-color: var(--DarkBlueBody); }
  .main .services {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .services .services__boxs {
      width: 100%;
      margin: 10px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .main .services .services__boxs .services__box {
        width: 400px;
        height: 280px;
        padding: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .main .services .services__boxs .services__box .service__title {
          font-size: 25px;
          margin: 5px;
          text-align: center; }
        .main .services .services__boxs .services__box .service__texts-description {
          font-size: 15px;
          line-height: 20px;
          text-align: center;
          margin: 5px; }
        .main .services .services__boxs .services__box img {
          margin: 5px;
          width: 83px;
          height: 68px; }
  .main .productive {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto; }
    .main .productive .productive__container {
      width: 100%;
      margin: 10px auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .main .productive .productive__container .productive__img {
        width: 600px; }
        .main .productive .productive__container .productive__img img {
          width: 80%; }
      .main .productive .productive__container .productive__texts {
        width: 600px; }
        .main .productive .productive__container .productive__texts .productive__title {
          font-size: 30px;
          line-height: 40px;
          margin: 10px; }
        .main .productive .productive__container .productive__texts .productive__texts-description {
          font-size: 15px;
          margin: 10px;
          line-height: 25px; }
        .main .productive .productive__container .productive__texts .productive__ancle {
          display: inline-block;
          margin: 10px;
          font-size: 16px; }
        .main .productive .productive__container .productive__texts .productive__ancle:hover {
          border-bottom: 2px solid var(--White); }
  .main .cards {
    width: 100%;
    max-width: 1250px;
    padding: 10px;
    margin: 10px auto;
    background-image: url(../assets/img/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: left top; }
    .main .cards .cards__container {
      width: 100%;
      margin: 10px auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .main .cards .cards__container .cards__card {
        width: 390px;
        height: 200px;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;
        background-color: var(--DarkBlueTestimonials); }
        .main .cards .cards__container .cards__card .cards__texts-description {
          font-size: 15px;
          margin: 10px; }
        .main .cards .cards__container .cards__card .cards__userProfile {
          display: flex;
          align-items: center; }
          .main .cards .cards__container .cards__card .cards__userProfile .cards__User-img {
            margin: 10px; }
            .main .cards .cards__container .cards__card .cards__userProfile .cards__User-img img {
              width: 40px;
              height: 40px;
              clip-path: circle(50%); }
          .main .cards .cards__container .cards__card .cards__userProfile .cards__Username {
            margin: 10px; }
            .main .cards .cards__container .cards__card .cards__userProfile .cards__Username .username {
              font-size: 14px; }
            .main .cards .cards__container .cards__card .cards__userProfile .cards__Username .user-Description {
              font-size: 12px; }

@media (max-width: 800px) {
  .main {
    width: 100%; }
    .main .services {
      width: 100%;
      max-width: 650px;
      margin: 10px auto;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .services .services__boxs {
        width: 100%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr); }
        .main .services .services__boxs .services__box {
          width: 80%; }
          .main .services .services__boxs .services__box .service__title {
            font-size: 20px; }
          .main .services .services__boxs .services__box .service__texts-description {
            font-size: 14px; }
    .main .productive {
      width: 100%;
      max-width: 650px;
      margin: 10px auto; }
      .main .productive .productive__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        .main .productive .productive__container .productive__img {
          width: 80%; }
          .main .productive .productive__container .productive__img img {
            width: 100%; }
        .main .productive .productive__container .productive__texts {
          width: 80%; }
          .main .productive .productive__container .productive__texts .productive__title {
            font-size: 20px;
            text-align: center;
            line-height: 25px; }
          .main .productive .productive__container .productive__texts .productive__texts-description {
            font-size: 13px;
            text-align: center; }
          .main .productive .productive__container .productive__texts .productive__ancle {
            display: flex;
            justify-content: center; } }
.footer {
  width: 100%;
  height: 630px;
  padding: 20px;
  margin-top: 150px;
  background-color: var(--DarkBluefooter);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .footer .footer__email {
    width: 70%;
    height: 250px;
    padding: 30px;
    background-color: var(--DarkBlueEmail);
    border-radius: 20px;
    position: absolute;
    bottom: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer .footer__email .footer__email-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .footer__email .footer__email-form .btn {
        width: 30%;
        height: 45px;
        margin: 10px; }
      .footer .footer__email .footer__email-form .footer__input {
        width: 70%;
        height: 45px;
        padding: 10px;
        margin: 10px;
        border: none;
        outline: none;
        border-radius: 30px; }
    .footer .footer__email .footer__email-texts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .footer .footer__email .footer__email-texts .footer__email-title {
        text-align: center;
        margin: 10px; }
      .footer .footer__email .footer__email-texts .footer__email-description {
        text-align: center;
        margin: 10px;
        font-size: 15px; }
  .footer .footer__content {
    width: 100%;
    height: 450px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-template-areas: "logo logo logo logo";
    gap: 10px; }
    .footer .footer__content .footer__logo {
      padding: 10px;
      grid-area: logo; }
    .footer .footer__content .footer__contact {
      display: flex;
      flex-direction: column;
      padding: 10px; }
      .footer .footer__content .footer__contact a {
        margin: 10px;
        font-size: 14px;
        line-height: 20px; }
        .footer .footer__content .footer__contact a i {
          margin-left: 10px; }
    .footer .footer__content .footer__contact.call a:hover {
      text-decoration: underline; }
    .footer .footer__content .footer__contact.grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); }
      .footer .footer__content .footer__contact.grid a:hover {
        text-decoration: underline; }
    .footer .footer__content .footer__contact.social {
      display: flex;
      flex-direction: row;
      align-items: baseline; }
      .footer .footer__content .footer__contact.social i {
        display: inline-block;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid var(--White);
        border-radius: 20px;
        cursor: pointer; }
      .footer .footer__content .footer__contact.social i.bxl-facebook:hover {
        background-color: var(--Blue); }
      .footer .footer__content .footer__contact.social i.bxl-twitter:hover {
        background-color: var(--twitter-color); }
      .footer .footer__content .footer__contact.social i.bxl-instagram:hover {
        background-color: var(--Pink); }

@media (max-width: 800px) {
  .footer {
    width: 100%;
    height: 800px; }
    .footer .footer__email {
      width: 95%;
      height: 230px;
      padding: 15px;
      position: absolute;
      bottom: 700px; }
      .footer .footer__email .footer__email-texts .footer__email-description {
        font-size: 13px;
        margin: 5px; }
      .footer .footer__email .footer__email-texts .footer__email-title {
        font-size: 19px;
        margin: 5px; }
      .footer .footer__email .footer__email-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .footer .footer__email .footer__email-form .footer__input {
          width: 95%;
          height: 40px; }
        .footer .footer__email .footer__email-form .btn {
          width: 95%;
          height: 40px; }
          .footer .footer__email .footer__email-form .btn a {
            font-size: 12px; }
    .footer .footer__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "logo";
      margin-top: 20px; }
      .footer .footer__content .footer__logo {
        grid-area: logo; }
      .footer .footer__content .footer__contact.call {
        text-align: center; }
      .footer .footer__content .footer__contact.grid {
        text-align: center; }
      .footer .footer__content .footer__contact.social {
        display: flex;
        justify-content: center;
        align-items: center; } }

/*# sourceMappingURL=styles.css.map */
