@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    background-color: var(--DarkBlueBody);
    color: var(--White);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--White);
}

li{
    list-style: none;
}

.btn{
    width: 230px;
    height: 50px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
}

.btn:hover{
    cursor: pointer;
    background-color: var(--Cyan);
}