.main{
    width: 100%;
    background-color: var(--DarkBlueBody);
    .services{
        width: 100%;
        max-width: 1200px;
        margin: 10px auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .services__boxs{
            width: 100%;
            margin: 10px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .services__box{
                width: 400px;
                height: 280px;
                padding: 10px;
                margin: 10px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .service__title{
                    font-size: 25px;
                    margin: 5px;
                    text-align: center;
                }

                .service__texts-description{
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    margin: 5px;
                }

                img{
                    margin: 5px;
                    width: 83px;
                    height: 68px;
                }
            }
        }
    }

    .productive{
        width: 100%;
        max-width: 1200px;
        margin: 10px auto;
        .productive__container{
            width: 100%;
            margin: 10px auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .productive__img{
                width: 600px;
                img{
                    width: 80%;
                }
            }

            .productive__texts{
                width: 600px;
                .productive__title{
                    font-size: 30px;
                    line-height: 40px;
                    margin: 10px;
                }

                .productive__texts-description{
                    font-size: 15px;
                    margin: 10px;
                    line-height: 25px;
                }

                .productive__ancle{
                    display: inline-block;
                    margin: 10px;
                    font-size: 16px;
                }

                .productive__ancle:hover{
                    border-bottom: 2px solid var(--White);
                }
            }
        }
    }

    .cards{
        width: 100%;
        max-width: 1250px;
        padding: 10px;
        margin: 10px auto;
        background-image: url(../assets/img/bg-quotes.png);
        background-repeat: no-repeat;
        background-position: left top;
        .cards__container{
            width: 100%;
            margin: 10px auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .cards__card{
                width: 390px;
                height: 200px;
                border-radius: 10px;
                padding: 15px;
                margin: 10px;
                background-color: var(--DarkBlueTestimonials);
                .cards__texts-description{
                    font-size: 15px;
                    margin: 10px;
                }

                .cards__userProfile{
                    display: flex;
                    align-items: center;
                    .cards__User-img{
                        margin: 10px;
                        img{
                            width: 40px;
                            height: 40px;
                            clip-path: circle(50%);
                        }
                    }

                    .cards__Username{
                        margin: 10px;
                        .username{
                            font-size: 14px;
                        }

                        .user-Description{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}



//mobile desing 
@media (max-width: 800px){
    .main{
        width: 100%;
        .services{
            width: 100%;
            max-width: 650px;
            margin: 10px auto;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            .services__boxs{
                width: 100%;
                margin: 10px auto;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);
                .services__box{
                    width: 80%;
                    .service__title{
                        font-size: 20px;
                    }

                    .service__texts-description{
                        font-size: 14px;
                    }
                }
            }
        }

        .productive{
            width: 100%;
            max-width: 650px;
            margin: 10px auto;
            .productive__container{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                .productive__img{
                    width: 80%;
                    img{
                        width: 100%;
                    }
                }

                .productive__texts{
                    width: 80%;
                    .productive__title{
                        font-size: 20px;
                        text-align: center;
                        line-height: 25px;
                    }

                    .productive__texts-description{
                        font-size: 13px;
                        text-align: center;
                    }

                    .productive__ancle{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}